extends ../layouts/base

block content
  main(data-vs-controller='Playground')
    div(data-vs-instance='a')
      div(data-vs-controller='Bar', data-vs-instance='b')
    div(data-vs-instance='a')
    div(data-vs-instance='a')
